.nav-link:hover{
    color: yellow !important;
}

.rounded-circle{

    position: absolute;
    margin-top: 3rem;
    margin-left: 10rem;
    height: 235;
    width: 255px;
}

#activity{
    margin-top: 1rem;
}

#footer{
    padding-top: 1rem;
    margin-left: 30rem;
    padding-bottom: 1rem;
}

