.nav-link:hover{
    color: yellow !important;
}

.rounded-circle{

    position: absolute;
    margin-top: 3rem;
    margin-right: 40rem;
    height: 115;
    width: 127px;

    @media screen (max-width:480px;){
        img{
           width:=100%
        
        }
       
    }
}

#activity{
    margin-top: 1rem;
}



